<% include header %>

  <% include scripts %>
  <title>Consultas</title>

  <div class="header">
  		<div class="container">
  			<div class="logo">
          <a href="/">El <span>In</span>dependiente</a>
        </div>
        <div class="header-right">

        <a class="account" href="/">Página principal</a>
  	<!-- Large modal -->
  		</div>
  		</div>
  	</div>
    <!--<div class="banner text-center">
  	  <div class="container">
        <h1>Guía Telefónica   <span class="segment-heading">    de números celulares </span></h1>
        <p>La solución técnica al instante</p>
  	  </div>
  	</div>-->
    <div >
      <div class="categories-section main-grid-border" ng-controller="ControllerMenu" ng-init="getComerciantesByCategory(<%= data.idCat %>)">
    		<div class="container" ng-init="getCategorias()">
    			<div class="row">
            <div class="categories" style="text-align: center" ng-init="getCategorias()">
              <div class="container">
                  <div style="background-color:rgb(245, 245, 245)">
                  <h3>Elige la categoría</h3>
                </div>

                <div class="col-md-2 focus-grid" ng-repeat="l in listCategorias" >
                  <a href="#" ng-click="getComerciantesByCategory(l.idCategoria)">
                    <div class="focus-border">
                      <div class="focus-layout">
                        <div class="focus-image"><i class="{{l.Class}}"></i></div>
                        <h4 class="clrchg">{{l.NombreCategoria}}</h4>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
    			<div class="category-list">
    					<ul class="resp-tabs-list hor_1">
                <div class="text-center">
              	  <div class="container" >
                    <h1><i class="fa fa-search"></i> <span ng-bind="NameCat.NombreCategoria"></span></h1>
              	  </div>
              	</div>
    					</ul>
              <br/>

    					<div class="col-md-4" ng-repeat="d in DatosComerciales">
    							<div class="focus-border">
                    <div style="padding:15px">
                      <div class="col-md-2">
    								<div class="category-img">
    									<div><i style="font-size:30pt" class="{{d.Class}}"></i></div>
    								</div>
                    </div>
                    <div class="col-md-10">
                    <div class="footer-grid">
        							<h3>{{d.Nombre}}</h3>
    									<p>{{d.DescripcionCom}}</p>
    									<a href="#">Ver mapa</a>
    								</div>
                    </div>
    								<div class="clearfix"></div>

    							</div>

    						</div>

    					</div>
    					<div class="clearfix"></div>
    			</div>

    		</div>
    	</div>
    </div>



  	<!--Plug-in Initialisation-->


  	<!-- //Categories -->
  	<!--footer section start-->
  		<footer>
  			<div class="footer-top">
  				<div class="container">
  					<div class="foo-grids">
  						<div class="col-md-3 footer-grid">
  							<h4 class="footer-head">Who We Are</h4>
  							<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
  							<p>The point of using Lorem Ipsum is that it has a more-or-less normal letters, as opposed to using 'Content here.</p>
  						</div>
  						<div class="col-md-3 footer-grid">
  							<h4 class="footer-head">Help</h4>
  							<ul>
  								<li><a href="howitworks.html">How it Works</a></li>
  								<li><a href="sitemap.html">Sitemap</a></li>
  								<li><a href="faq.html">Faq</a></li>
  								<li><a href="feedback.html">Feedback</a></li>
  								<li><a href="contact.html">Contact</a></li>
  								<li><a href="typography.html">Shortcodes</a></li>
  							</ul>
  						</div>
  						<div class="col-md-3 footer-grid">
  							<h4 class="footer-head">Information</h4>
  							<ul>
  								<li><a href="regions.html">Locations Map</a></li>
  								<li><a href="terms.html">Terms of Use</a></li>
  								<li><a href="popular-search.html">Popular searches</a></li>
  								<li><a href="privacy.html">Privacy Policy</a></li>
  							</ul>
  						</div>
  						<div class="col-md-3 footer-grid">
  							<h4 class="footer-head">Contact Us</h4>
  							<span class="hq">Our headquarters</span>
  							<address>
  								<ul class="location">
  									<li><span class="glyphicon glyphicon-map-marker"></span></li>
  									<li>CENTER FOR FINANCIAL ASSISTANCE TO DEPOSED NIGERIAN ROYALTY</li>
  									<div class="clearfix"></div>
  								</ul>
  								<ul class="location">
  									<li><span class="glyphicon glyphicon-earphone"></span></li>
  									<li>+0 561 111 235</li>
  									<div class="clearfix"></div>
  								</ul>
  								<ul class="location">
  									<li><span class="glyphicon glyphicon-envelope"></span></li>
  									<li><a href="mailto:info@example.com">mail@example.com</a></li>
  									<div class="clearfix"></div>
  								</ul>
  							</address>
  						</div>
  						<div class="clearfix"></div>
  					</div>
  				</div>
  			</div>
  			<div class="footer-bottom text-center">
  			<div class="container">
  				<div class="footer-logo">
  					<a href="index.html"><span>Re</span>sale</a>
  				</div>
  				<div class="footer-social-icons">
  					<ul>
  						<li><a class="facebook" href="#"><span>Facebook</span></a></li>
  						<li><a class="twitter" href="#"><span>Twitter</span></a></li>
  						<li><a class="flickr" href="#"><span>Flickr</span></a></li>
  						<li><a class="googleplus" href="#"><span>Google+</span></a></li>
  						<li><a class="dribbble" href="#"><span>Dribbble</span></a></li>
  					</ul>
  				</div>
  				<div class="copyrights">
  					<p> © 2016 Resale. All Rights Reserved | Design by  <a href="http://w3layouts.com/"> W3layouts</a></p>
  				</div>
  				<div class="clearfix"></div>
  			</div>
  		</div>
  		</footer>
<% include footer %>
