<!doctype html>
<html lang="en">
<head>

  <link href="/images/main/logo.png" rel="shortcut icon" type="image/x-icon" />
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-select.css">
  <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/css/font-awesome.min.css" />
  <!-- for-mobile-apps -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Resale Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
  Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
  <script type="text/javascript">
  function alert(){
  $('#myModal').modal('');
  }
  </script>
</head>
<body onload="alert()" ng-app="Blog">
  <!--<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Select Your Region</button>-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;</button>
            <h4 class="modal-title" id="myModalLabel">
              Please Choose Your Location</h4>
          </div>
          <div class="modal-body">
             <form class="form-horizontal" role="form">
              <div class="form-group">

              </div>
              </form>
          </div>
        </div>
      </div>
    </div>
